{# new twig template file - hibbittsdesign.org #}
{% if config.site.gitrepo.edittreeurl is not empty %}
  {% if page.header.gitrepoeditlinkurl %}
    {% set gitrepoeditlinkurl = page.header.gitrepoeditlinkurl %}
  {% else %}
    {% set gitrepoeditlinkurl = config.site.gitrepo.edittreeurl ~  ('/'~page.filePathClean)|replace({'/user/':'/'}) %}
  {% endif %}
  {# new twig template file - hibbittsdesign.org #}
  <a class="newwindow" href="{{ gitrepoeditlinkurl }}" title="{{ config.site.gitrepo.editlinktext }}">
  {% if config.site.gitrepo.editlinkicon %}
    <i class="fa fa-{{ config.site.gitrepo.editlinkicon }}" aria-hidden="true"></i>
  {% endif %}
  {{ config.site.gitrepo.editlinktext }}</a>
{% else %}
  {% if config.plugins['git-sync'].enabled and config.plugins['git-sync'].repository is empty %}
    {% set admin_panel_gitsync_plugin = grav.base_url ~ '/admin/plugins/git-sync#' %}
    <a href="{{ admin_panel_gitsync_plugin }}" title="Setup Git Sync Plugin (Step 1 of 2)">
    <i class="fa fa-cog" aria-hidden="true"></i> Setup Git Sync Plugin (Step 1 of 2)</a>
  {% else %}
    {% set admin_panel_appearance_url = grav.base_url ~ '/admin/config/site' %}
    <a href="{{ admin_panel_appearance_url }}" title="Setup Edit Page in Git Link (Step 2 of 2)">
    <i class="fa fa-cog" aria-hidden="true"></i> Setup Edit Page in Git Link (Step 2 of 2)</a>
  {% endif %}
{% endif %}
