{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.simplesearch.enabled %}
  <div class="sidebar-content">
    <h5>Quick Search</h5>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
  </div>
{% endif %}

{# multi-course hub compatibility - hibbittsdesign.org #}
{% set arrayofpath = uri.path|split('/') %}
{% set firstfolderofpath = arrayofpath[1] %}
{% if firstfolderofpath == null %}
  {% set arrayofpath = config.system.home.alias|split('/') %}
  {% set firstfolderofpath = arrayofpath[1] %}
{% endif %}
{% set content = pages.find('/' ~ firstfolderofpath ~ '/sidebar').content %}
{% if content is empty %}
  {% set content = pages.find('/sidebar').content %}
{% endif %}
<div class="sidebar-content">
  {{ content }}
</div>
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
  <h5>Related Posts</h5>
  {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if config.plugins.taxonomylist.enabled %}
  <div class="sidebar-content">
    <h5>Popular Tags</h5>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
  </div>
{% endif %}
{% if config.plugins.archives.enabled %}
  <div class="sidebar-content">
    <h5>Archives</h5>
    {% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
  </div>
{% endif %}
{% if config.site.twittertimeline.enabled %}
  <div class="sidebar-content">
    <h5>Twitter</h5>
    <a class="twitter-timeline" data-height= {{ config.site.twittertimeline.height }} data-chrome="noscrollbar" href="{{ config.site.twittertimeline.url }}">{{config.site.twittertimeline.text}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
{% endif %}
{% if config.plugins.feed.enabled %}
  {% if page.template == 'blog' %}
    <div class="sidebar-content">
      <h5>Subscribe</h5>
      <div class="btn-group">
        <a class="btn btn-warning" href="{{ feed_url }}.atom">
          <i class="fa fa-rss-square"></i>
          Atom 1.0</a>
        <a class="btn btn-warning" href="{{ feed_url }}.rss">
          <i class="fa fa-rss-square"></i>
          RSS</a>
      </div>
    </div>
  {% endif %}
{% endif %}
